GEMINI_API_KEY=AQ.Ab8RN6IfH9FdTOrW-vLZfSizsptx6KHMinm-8TlvQEoaTMhjwg
GEMINI_MODEL=gemini-3-flash-preview

SECRET_KEY=energy-auditor-secret-key

AWS_REGION=ap-south-1
S3_BUCKET=nihal-energy-auditor-2026

S3_INPUT_FOLDER=bills/
S3_OUTPUT_FOLDER=output/

LAMBDA_FUNCTION_NAME=EnergyAuditorBillProcessor

PROCESSING_TIMEOUT=180
POLLING_INTERVAL=3